.Home {
  display: flex;
  flex-flow: column;
}

.Home-header-wrapper {
  flex: 0;
}

.Home-content-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.Home-content-feed-wrapper {
  width: 60%;
}